<table>
    <thead>
        <tr>
            <th>Produkt</th>
            <th>Einzelpreis</th>
            <th>Anzahl</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>
                <a href="/Details/{{this.id}}">{{this.productName}}</a>
            </td>
            <td>
                {{#if this.specialOffer}}
                CHF {{twoDecimals this.specialOffer}}
                {{else}}
                CHF {{twoDecimals this.normalPrice}}
                {{/if}}
            </td>
            <td>
                <button onclick="location.href='/api/pollproduct/{{this.id}}'">-</button>
                {{this.quantity}}
                <button onclick="location.href='/api/addproduct/{{this.id}}?isWarenkorb=true'">+</button>
            </td>
            {{#if this.specialOffer}}
            <td>CHF {{multiply this.quantity this.specialOffer}}</td>
            {{else}}
            <td>CHF {{multiply this.quantity this.normalPrice}}</td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
</table>
<p id="totalPreis">Total: CHF {{twoDecimals totalCost}}</p>
<button onclick="location.href='/Checkout'">Zur Bestellung</button>